[advice]
  statusHints = false

[alias]
  aa = add --all
  bd = branch -D
  co = checkout
  cb = checkout -b
  cm = commit -m
  glog = log --graph --format=line # graphical log
  prune-remotes = remote prune origin
  st = status --short --branch
  # Undo last commit.
  undo = reset --soft HEAD^

[core]
  excludesfile = ~/.gitignore_global

[diff]
  ignoreSubmodules = dirty

[init]
  defaultBranch = main

[pretty]
  line = %Cred%h%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset %Cgreen%ar

[pull]
  ff = only

[push]
  default = current

[transfer]
  fsckObjects = true

[user]
  name = Justinas Petuchovas
  useConfigOnly = true
